.overlay {
  top: 180;
  left: 0;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* overflow: auto; */
  z-index: 1200;
  position: fixed;
}

.modal {
  width: 320px;
  height: 460px;
  background-color: #fff;
  padding: 80px 15px 0px;
  text-align: center;

  overflow: hidden;

  /* max-height: calc(100vh - 24px);
  position: relative; */
}

/* .input {
  width: 290px;
  border-color: transparent;
  color: #9b9faa;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  border-bottom: 1px solid #e0e0e0;

  margin-bottom: 30px;
  padding-bottom: 10px;
} */

.formButton {
  margin-top: 30px;
}

.iconBack{
 width: 15px;
}

.closeModalButton {
  background-color: transparent;
  border-color: transparent;
  text-align: left;
  position: absolute;
  top: -33px;
  left: 15px;
  color: #9b9faa;
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 768px) {
  .closeModalButton {
    display: none;
  }

  /* .formAddButton {
    display: none;
  } */
}
