.сalendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.datePicker {
  text-align: start;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
  width: 200px !important;
}
